@model IEnumerable<ASPNETWebAppMVCStudentApp.Courses>

@{
    ViewBag.Title = "Courses";
}

<h2 class="mb-4">Courses List</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success">Add New Course</a>
</p>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.CourseID)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Credits)</th>
            <th>@Html.DisplayNameFor(model => model.DepartmentID)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CourseID)</td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Credits)</td>
                <td>@Html.DisplayFor(modelItem => item.DepartmentID)</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.CourseID })" class="btn btn-sm btn-primary">Edit</a>
                    <a href="@Url.Action("Details", new { id = item.CourseID })" class="btn btn-sm btn-info">Details</a>
                    <a href="@Url.Action("Delete", new { id = item.CourseID })" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>